<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
<title>Document</title>
</head>
<body><div class="container">
        <h1>Budgtr - Main Budget</h1>
        <input type="button" onclick="goBack()" id="back" value="BACK"></input>
        <table>
        <% for(let i=0; i < budgetItems.length; i++){ %>
        <tr>
        <td><%= budgetItems[i].date %></td>
        <td><a href="http://localhost:3000/budget/<%=[i]%>"><%= budgetItems[i].name %></a></td>
        <td><%= budgetItems[i].amount%></td>
        </tr>
        <% } %>
        </table></div></body>
<script>
    
function goBack() {
    window.location.assign("http://localhost:3000/budget/new")
}
</script>
</html>

